USE [master]
GO
/****** Object:  Database [BothoClinicDB]    Script Date: 2025/10/29 00:19:17 ******/
CREATE DATABASE [BothoClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BothoClinicDB', FILENAME = N'C:\Users\dmoha\BothoClinicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BothoClinicDB_log', FILENAME = N'C:\Users\dmoha\BothoClinicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BothoClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BothoClinicDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Salt] [varchar](100) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[ContactEmail] [varchar](100) NULL,
	[ContactPhone] [varchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[MustChangePassword] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StudentId] [varchar](20) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[BloodType] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NULL,
	[ProviderId] [int] NULL,
	[AppointmentDate] [date] NOT NULL,
	[TimeSlot] [time](7) NOT NULL,
	[Reason] [varchar](255) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[ClaimedByProviderId] [int] NULL,
	[ClaimedAt] [datetime] NULL,
	[RescheduledFromAppointmentId] [int] NULL,
	[GuestPatientId] [int] NULL,
	[EmergencyCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAppointmentsWithNames]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vAppointmentsWithNames]
AS
SELECT 
    a.AppointmentId,
    a.AppointmentDate,
    a.TimeSlot,
    a.Reason,
    a.Status,
    a.PatientId,
    pu.FullName AS PatientName,
    p.StudentId,
    a.ProviderId,
    pr.FullName AS ProviderName,
    a.ClaimedByProviderId,
    a.ClaimedAt,
    a.RescheduledFromAppointmentId,
    a.CreatedDateTime
FROM dbo.Appointments a
JOIN dbo.Patients p ON a.PatientId = p.PatientId
JOIN dbo.Users pu ON p.UserId = pu.UserId
LEFT JOIN dbo.Users pr ON a.ProviderId = pr.UserId;
GO
/****** Object:  Table [dbo].[AppointmentProviderHistory]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentProviderHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[ProviderId] [int] NULL,
	[Action] [varchar](20) NOT NULL,
	[PerformedByUserId] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[RecordId] [nvarchar](50) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[Details] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClinicSettings]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicSettings](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[ProviderId] [int] NOT NULL,
	[ConsultationDate] [datetime] NULL,
	[Temperature] [decimal](4, 1) NULL,
	[BloodPressure] [varchar](10) NULL,
	[VitalsJson] [nvarchar](max) NULL,
	[DiagnosisNotes] [nvarchar](max) NOT NULL,
	[FollowUpNeeded] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestPatients]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestPatients](
	[GuestPatientId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[EmergencyStatus] [bit] NOT NULL,
	[EmergencyNumber] [nvarchar](50) NULL,
	[GuestIdentifier] [nvarchar](50) NULL,
	[EmergencyContact] [nvarchar](100) NULL,
	[EmergencyPhone] [nvarchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestPatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[MedicationId] [int] IDENTITY(1,1) NOT NULL,
	[MedicationName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[ExpiryDateTime] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[ConsultationId] [int] NOT NULL,
	[MedicationId] [int] NOT NULL,
	[Dosage] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Instructions] [nvarchar](max) NULL,
	[DispensedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderProfiles]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderProfiles](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [varchar](50) NULL,
	[Specialty] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[Bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[ReminderDate] [datetime] NOT NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingName] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](500) NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentProviderHistory] ON 

INSERT [dbo].[AppointmentProviderHistory] ([Id], [AppointmentId], [ProviderId], [Action], [PerformedByUserId], [Timestamp], [Notes]) VALUES (1, 1, 2, N'Assigned', 2, CAST(N'2025-10-25T14:10:10.500' AS DateTime), N'Rescheduled by provider')
INSERT [dbo].[AppointmentProviderHistory] ([Id], [AppointmentId], [ProviderId], [Action], [PerformedByUserId], [Timestamp], [Notes]) VALUES (2, 1, 2, N'Claimed', 2, CAST(N'2025-10-25T14:10:23.000' AS DateTime), N'Provider claimed or started the appointment')
INSERT [dbo].[AppointmentProviderHistory] ([Id], [AppointmentId], [ProviderId], [Action], [PerformedByUserId], [Timestamp], [Notes]) VALUES (3, 1, 2, N'Claimed', 2, CAST(N'2025-10-25T14:10:24.327' AS DateTime), N'Provider claimed or started the appointment')
SET IDENTITY_INSERT [dbo].[AppointmentProviderHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [ProviderId], [AppointmentDate], [TimeSlot], [Reason], [Status], [CreatedDateTime], [ClaimedByProviderId], [ClaimedAt], [RescheduledFromAppointmentId], [GuestPatientId], [EmergencyCode]) VALUES (1, 1, 2, CAST(N'2025-10-26' AS Date), CAST(N'14:09:55.9759627' AS Time), N'Sore throat and headache', N'Completed', CAST(N'2025-09-21T17:12:14.840' AS DateTime), 2, CAST(N'2025-10-25T14:10:22.997' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [ProviderId], [AppointmentDate], [TimeSlot], [Reason], [Status], [CreatedDateTime], [ClaimedByProviderId], [ClaimedAt], [RescheduledFromAppointmentId], [GuestPatientId], [EmergencyCode]) VALUES (2, 2, 3, CAST(N'2025-09-28' AS Date), CAST(N'14:00:00' AS Time), N'Minor cut on hand', N'Completed', CAST(N'2025-09-27T17:12:14.840' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Appointments] ([AppointmentId], [PatientId], [ProviderId], [AppointmentDate], [TimeSlot], [Reason], [Status], [CreatedDateTime], [ClaimedByProviderId], [ClaimedAt], [RescheduledFromAppointmentId], [GuestPatientId], [EmergencyCode]) VALUES (3, 3, 2, CAST(N'2025-10-25' AS Date), CAST(N'15:18:31.3358066' AS Time), N'Follow-up on allergy medication', N'Scheduled', CAST(N'2025-10-03T17:12:14.840' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [TableName], [RecordId], [OldValues], [NewValues], [Details], [IPAddress], [UserAgent], [Timestamp]) VALUES (1, 1, N'LOGIN', N'Users', N'1', NULL, NULL, N'User logged into the system', N'127.0.0.1', NULL, CAST(N'2025-10-28T01:30:35.703' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [TableName], [RecordId], [OldValues], [NewValues], [Details], [IPAddress], [UserAgent], [Timestamp]) VALUES (2, 1, N'UPDATE', N'Appointments', N'36', NULL, NULL, N'Appointment status changed to Completed', N'127.0.0.1', NULL, CAST(N'2025-10-28T01:30:35.713' AS DateTime))
INSERT [dbo].[AuditLogs] ([LogId], [UserId], [Action], [TableName], [RecordId], [OldValues], [NewValues], [Details], [IPAddress], [UserAgent], [Timestamp]) VALUES (3, 1, N'INSERT', N'Patients', N'25', NULL, NULL, N'New patient registered', N'127.0.0.1', NULL, CAST(N'2025-10-28T01:30:35.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[ClinicSettings] ([Key], [Value]) VALUES (N'MaxConsultationMinutes', N'30')
GO
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationId], [AppointmentId], [ProviderId], [ConsultationDate], [Temperature], [BloodPressure], [VitalsJson], [DiagnosisNotes], [FollowUpNeeded]) VALUES (1, 1, 2, CAST(N'2025-10-23T17:12:14.847' AS DateTime), CAST(37.8 AS Decimal(4, 1)), N'122/81', NULL, N'Mild viral infection. Advised rest and hydration.', 0)
INSERT [dbo].[Consultations] ([ConsultationId], [AppointmentId], [ProviderId], [ConsultationDate], [Temperature], [BloodPressure], [VitalsJson], [DiagnosisNotes], [FollowUpNeeded]) VALUES (2, 2, 3, CAST(N'2025-10-23T17:12:14.847' AS DateTime), CAST(36.9 AS Decimal(4, 1)), N'118/78', NULL, N'Cleaned and dressed the wound. Advised to keep it dry.', 0)
INSERT [dbo].[Consultations] ([ConsultationId], [AppointmentId], [ProviderId], [ConsultationDate], [Temperature], [BloodPressure], [VitalsJson], [DiagnosisNotes], [FollowUpNeeded]) VALUES (3, 3, 2, CAST(N'2025-10-23T17:12:14.847' AS DateTime), CAST(37.0 AS Decimal(4, 1)), N'120/80', NULL, N'Allergy symptoms have subsided. Continue medication as needed.', 0)
SET IDENTITY_INSERT [dbo].[Consultations] OFF
GO
SET IDENTITY_INSERT [dbo].[GuestPatients] ON 

INSERT [dbo].[GuestPatients] ([GuestPatientId], [FullName], [PhoneNumber], [EmergencyStatus], [EmergencyNumber], [GuestIdentifier], [EmergencyContact], [EmergencyPhone], [Address], [CreatedBy], [CreatedDate], [IsActive]) VALUES (1, N'John Doe', N'+26612345678', 0, NULL, N'JD001', N'Jane Doe', N'+26612345679', N'123 Main Street, Maseru', 2, CAST(N'2025-10-25T22:43:20.920' AS DateTime), 1)
INSERT [dbo].[GuestPatients] ([GuestPatientId], [FullName], [PhoneNumber], [EmergencyStatus], [EmergencyNumber], [GuestIdentifier], [EmergencyContact], [EmergencyPhone], [Address], [CreatedBy], [CreatedDate], [IsActive]) VALUES (2, N'Sarah Wilson', N'+26687654321', 1, NULL, N'SW002', N'Mike Wilson', N'+26687654322', N'456 Oak Avenue, Maseru', 2, CAST(N'2025-10-25T22:43:20.920' AS DateTime), 1)
INSERT [dbo].[GuestPatients] ([GuestPatientId], [FullName], [PhoneNumber], [EmergencyStatus], [EmergencyNumber], [GuestIdentifier], [EmergencyContact], [EmergencyPhone], [Address], [CreatedBy], [CreatedDate], [IsActive]) VALUES (3, N'David Brown', N'+26655555555', 0, NULL, N'DB003', N'+266 56565858', N'+266 56565858', N'789 Pine Road, Maseru', 2, CAST(N'2025-10-25T22:43:20.920' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GuestPatients] OFF
GO
SET IDENTITY_INSERT [dbo].[Medications] ON 

INSERT [dbo].[Medications] ([MedicationId], [MedicationName], [Description]) VALUES (1, N'Paracetamol 500mg', N'For pain and fever relief.')
INSERT [dbo].[Medications] ([MedicationId], [MedicationName], [Description]) VALUES (2, N'Ibuprofen 200mg', N'Anti-inflammatory and pain relief.')
INSERT [dbo].[Medications] ([MedicationId], [MedicationName], [Description]) VALUES (3, N'Amoxicillin 250mg', N'Antibiotic for bacterial infections.')
SET IDENTITY_INSERT [dbo].[Medications] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientId], [UserId], [StudentId], [DOB], [Gender], [BloodType]) VALUES (1, 4, N'S2023001', CAST(N'2003-08-21' AS Date), N'Female', N'O+')
INSERT [dbo].[Patients] ([PatientId], [UserId], [StudentId], [DOB], [Gender], [BloodType]) VALUES (2, 5, N'S2023002', CAST(N'2002-11-10' AS Date), N'Male', N'A-')
INSERT [dbo].[Patients] ([PatientId], [UserId], [StudentId], [DOB], [Gender], [BloodType]) VALUES (3, 6, N'S2023003', CAST(N'2004-01-30' AS Date), N'Female', N'B+')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionId], [ConsultationId], [MedicationId], [Dosage], [Quantity], [Instructions], [DispensedDate]) VALUES (1, 1, 1, N'2 tablets every 6 hours', 20, N'Take with food. Do not exceed 8 tablets in 24 hours.', CAST(N'2025-10-23T17:12:14.857' AS DateTime))
INSERT [dbo].[Prescriptions] ([PrescriptionId], [ConsultationId], [MedicationId], [Dosage], [Quantity], [Instructions], [DispensedDate]) VALUES (2, 4, 2, N'1 tablet every 8 hours', 15, N'Take after meals to avoid stomach upset.', CAST(N'2025-10-23T17:12:14.857' AS DateTime))
INSERT [dbo].[Prescriptions] ([PrescriptionId], [ConsultationId], [MedicationId], [Dosage], [Quantity], [Instructions], [DispensedDate]) VALUES (3, 4, 5, N'10ml three times a day', 1, N'Shake well before use.', CAST(N'2025-10-23T17:12:14.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProviderProfiles] ON 

INSERT [dbo].[ProviderProfiles] ([ProfileId], [UserId], [Title], [Specialty], [Department], [Bio]) VALUES (0, 2, N'Dr.', N'General Practitioner', N'Campus Clinic', NULL)
INSERT [dbo].[ProviderProfiles] ([ProfileId], [UserId], [Title], [Specialty], [Department], [Bio]) VALUES (1, 3, N'Nurse', N'General Practice', N'Campus Clinic', NULL)
INSERT [dbo].[ProviderProfiles] ([ProfileId], [UserId], [Title], [Specialty], [Department], [Bio]) VALUES (2, 9, N'Dr.', N'General Practitioner', N'Campus Clinic', NULL)
SET IDENTITY_INSERT [dbo].[ProviderProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Reminders] ON 

INSERT [dbo].[Reminders] ([ReminderID], [PatientID], [Message], [ReminderDate], [IsRead]) VALUES (1, 1, N'Your next appointment is in 2 days. Please be on time.', CAST(N'2025-10-25T17:12:14.857' AS DateTime), 1)
INSERT [dbo].[Reminders] ([ReminderID], [PatientID], [Message], [ReminderDate], [IsRead]) VALUES (2, 4, N'Follow-up appointment for flu check-up is due next week.', CAST(N'2025-10-30T17:12:14.857' AS DateTime), 0)
INSERT [dbo].[Reminders] ([ReminderID], [PatientID], [Message], [ReminderDate], [IsRead]) VALUES (3, 2, N'Remember to drink plenty of water and stay hydrated.', CAST(N'2025-10-13T17:12:14.857' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Reminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Administrator', N'Manages users, settings, and system reports.')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'Provider', N'Healthcare provider (Doctor/Nurse) who consults with patients.')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'Student', N'A student of Botho University who is a patient of the clinic.')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([SettingId], [SettingName], [SettingValue], [UpdatedBy], [UpdatedDate]) VALUES (1, N'ClinicName', N'Botho Clinic', 1, CAST(N'2025-10-28T01:31:22.997' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingName], [SettingValue], [UpdatedBy], [UpdatedDate]) VALUES (2, N'ClinicAddress', N'University Campus', 1, CAST(N'2025-10-28T01:31:23.000' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingName], [SettingValue], [UpdatedBy], [UpdatedDate]) VALUES (3, N'ClinicPhone', N'+266 5000 5688', 1, CAST(N'2025-10-28T01:31:23.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Salt], [FullName], [ContactEmail], [ContactPhone], [RoleId], [IsActive], [MustChangePassword]) VALUES (1, N'admin', N'9wBiPVxLPZ851lKIBw+kP6DIVw1YwfD6lSfqojj709zcQcfGZvewZjkxYSygfnLROHVjAP/0d7szb+ElnnZseA==', N'FZoU+YH7XrZUIDilR+n6JijNgy6A+AZCPXp0ZEJ4iKoMtD9AE9FlfJ0UFkeMkJbfbXRqgu5c28wUJtd7cphkJQ==', N'Admin User', N'admin@bothoclinic.ac.bw', N'+266 5688 7045', 1, 1, 0)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Salt], [FullName], [ContactEmail], [ContactPhone], [RoleId], [IsActive], [MustChangePassword]) VALUES (2, N'dr_thabo', N'2AtHketyByfknqRBhXgwne6t7Drsl1xCM9jRgG4LaPOBQ0Xr7ScrYxIomlG/ixWl0uv/RfhvRx4XTy4ZWnssag==', N'7W8UViSu0On7fCe2D+2SmX6QfcmdW6vJsoPVnnp5t20Hut6GHuN9Ru7g3Dku+UGAHKu793MJSyA8sB8he0rJNw==', N'Dr. Thabo Moloi', N'thabo.moloi@bothoclinic.ac.bw', NULL, 2, 1, 0)
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Salt], [FullName], [ContactEmail], [ContactPhone], [RoleId], [IsActive], [MustChangePassword]) VALUES (3, N'nurse_anna', N'/JjjaSAO8WSlhCbNHKP+yVyzp7PrtakZG41H8REOhNhbMD7V3oqcO7FAFNmaZ9K6Kx3ImbDOp2rKhvqsYLfVmQ==', N'nY8Eb8ACoSCOWp9EV/qORadXGMhHXgkE1gd1m8xHYwSJ+6ZzWPCIG5wYhp08c8YEZU62rJhe41pErpuc6s9qnw==', N'Nurse Anna Phiri', N'anna.phiri@bothoclinic.ac.bw', NULL, 2, 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Appointments_ClaimedAt]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_ClaimedAt] ON [dbo].[Appointments]
(
	[ClaimedAt] ASC
)
INCLUDE([Status],[ProviderId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appointments_EmergencyCode]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_EmergencyCode] ON [dbo].[Appointments]
(
	[EmergencyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_GuestPatientId]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_GuestPatientId] ON [dbo].[Appointments]
(
	[GuestPatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_PatientDate]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_PatientDate] ON [dbo].[Appointments]
(
	[PatientId] ASC,
	[AppointmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_ProviderDate]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_ProviderDate] ON [dbo].[Appointments]
(
	[ProviderId] ASC,
	[AppointmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appointments_StatusDate]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_StatusDate] ON [dbo].[Appointments]
(
	[Status] ASC,
	[AppointmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Consulta__8ECDFCC35B573D8C]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Consultations] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GuestPatients_CreatedBy]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_GuestPatients_CreatedBy] ON [dbo].[GuestPatients]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GuestPatients_IsActive]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_GuestPatients_IsActive] ON [dbo].[GuestPatients]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Medicati__821CB739A9B2543E]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Medications] ADD UNIQUE NONCLUSTERED 
(
	[MedicationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Patients__1788CC4D4DB51BEA]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__32C52B988E4F8FC7]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Provider__1788CC4D2ACA7004]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[ProviderProfiles] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminders_PatientID]    Script Date: 2025/10/29 00:19:18 ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_PatientID] ON [dbo].[Reminders]
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160A01AB227]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemSe__BCA5D463237F3933]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[SystemSettings] ADD UNIQUE NONCLUSTERED 
(
	[SettingName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E464EFBDAA]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__FFA796CDD25070B5]    Script Date: 2025/10/29 00:19:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[ContactEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 2025/10/29 00:19:18 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentProviderHistory] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT (getdate()) FOR [ConsultationDate]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT ((0)) FOR [FollowUpNeeded]
GO
ALTER TABLE [dbo].[GuestPatients] ADD  DEFAULT ((0)) FOR [EmergencyStatus]
GO
ALTER TABLE [dbo].[GuestPatients] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GuestPatients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (getdate()) FOR [DispensedDate]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[AppointmentProviderHistory]  WITH CHECK ADD  CONSTRAINT [FK_APH_Appointment] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[AppointmentProviderHistory] CHECK CONSTRAINT [FK_APH_Appointment]
GO
ALTER TABLE [dbo].[AppointmentProviderHistory]  WITH CHECK ADD  CONSTRAINT [FK_APH_ByUser] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AppointmentProviderHistory] CHECK CONSTRAINT [FK_APH_ByUser]
GO
ALTER TABLE [dbo].[AppointmentProviderHistory]  WITH CHECK ADD  CONSTRAINT [FK_APH_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AppointmentProviderHistory] CHECK CONSTRAINT [FK_APH_Provider]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_ClaimedByProvider_Users] FOREIGN KEY([ClaimedByProviderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_ClaimedByProvider_Users]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_GuestPatients] FOREIGN KEY([GuestPatientId])
REFERENCES [dbo].[GuestPatients] ([GuestPatientId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_GuestPatients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_RescheduledFrom_Appointment] FOREIGN KEY([RescheduledFromAppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_RescheduledFrom_Appointment]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GuestPatients]  WITH CHECK ADD  CONSTRAINT [FK_GuestPatients_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GuestPatients] CHECK CONSTRAINT [FK_GuestPatients_CreatedBy]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([ConsultationId])
REFERENCES [dbo].[Consultations] ([ConsultationId])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([MedicationId])
REFERENCES [dbo].[Medications] ([MedicationId])
GO
ALTER TABLE [dbo].[ProviderProfiles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_GuestStatus] CHECK  (([GuestPatientId] IS NULL OR ([Status]='Cancelled' OR [Status]='Completed' OR [Status]='In Progress' OR [Status]='Scheduled')))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_GuestStatus]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_PatientType] CHECK  (([PatientId] IS NOT NULL AND [GuestPatientId] IS NULL OR [PatientId] IS NULL AND [GuestPatientId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_PatientType]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_Status] CHECK  (([Status]='Scheduled' OR [Status]='In Progress' OR [Status]='Completed' OR [Status]='Cancelled'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_Status]
GO
/****** Object:  StoredProcedure [dbo].[usp_Appointment_Claim]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Appointment_Claim]
    @AppointmentId INT,
    @ProviderId    INT,
    @PerformedBy   INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Appointments
    SET 
        ProviderId = COALESCE(ProviderId, @ProviderId),
        ClaimedByProviderId = COALESCE(ClaimedByProviderId, @ProviderId),
        ClaimedAt = COALESCE(ClaimedAt, GETDATE()),
        Status = CASE WHEN Status = 'Scheduled' THEN 'In Progress' ELSE Status END
    WHERE AppointmentId = @AppointmentId
      AND (
            (Status = 'Scheduled') OR
            (Status = 'In Progress' AND (ProviderId = @ProviderId OR ProviderId IS NULL))
          );

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Appointment cannot be claimed (already owned or not in a claimable state).', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.AppointmentProviderHistory(AppointmentId, ProviderId, Action, PerformedByUserId, Notes)
    VALUES(@AppointmentId, @ProviderId, 'Claimed', @PerformedBy, 'Provider claimed or started the appointment');
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Appointment_Reschedule]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Appointment_Reschedule]
    @AppointmentId INT,
    @NewDate       DATE,
    @NewTime       TIME,
    @NewProviderId INT = NULL,
    @PerformedBy   INT,
    @Notes         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Appointments
    SET AppointmentDate = @NewDate,
        TimeSlot = @NewTime,
        ProviderId = COALESCE(@NewProviderId, ProviderId),
        Status = 'Scheduled'
    WHERE AppointmentId = @AppointmentId;

    INSERT INTO dbo.AppointmentProviderHistory(AppointmentId, ProviderId, Action, PerformedByUserId, Notes)
    VALUES(@AppointmentId, @NewProviderId, 'Assigned', @PerformedBy, COALESCE(@Notes, 'Rescheduled'));
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Appointment_Reschedule_Simple]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update the procedure to NOT return a result set
CREATE PROCEDURE [dbo].[usp_Appointment_Reschedule_Simple]
    @AppointmentId INT,
    @NewDate       DATE,
    @NewTime       TIME,
    @NewProviderId INT = NULL,
    @PerformedBy   INT,
    @Notes         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Update the appointment
    UPDATE dbo.Appointments
    SET AppointmentDate = @NewDate,
        TimeSlot = @NewTime,
        ProviderId = COALESCE(@NewProviderId, ProviderId),
        Status = 'Scheduled'
    WHERE AppointmentId = @AppointmentId;
    
    -- Only try to insert into history if the table exists
    IF OBJECT_ID('dbo.AppointmentProviderHistory', 'U') IS NOT NULL
    BEGIN
        INSERT INTO dbo.AppointmentProviderHistory(AppointmentId, ProviderId, Action, PerformedByUserId, Notes)
        VALUES(@AppointmentId, @NewProviderId, 'Rescheduled', @PerformedBy, COALESCE(@Notes, 'Appointment rescheduled'));
    END
    
    -- DON'T return a result set - ExecuteNonQuery will return @@ROWCOUNT from the UPDATE
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Appointment_UpdateStatus]    Script Date: 2025/10/29 00:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Appointment_UpdateStatus]
    @AppointmentId INT,
    @NewStatus     VARCHAR(50),
    @PerformedBy   INT,
    @Notes         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @NewStatus NOT IN ('Scheduled','In Progress','Completed','Cancelled')
    BEGIN
        RAISERROR('Invalid status value.',16,1);
        RETURN;
    END

    UPDATE dbo.Appointments SET Status = @NewStatus WHERE AppointmentId = @AppointmentId;

    INSERT INTO dbo.AppointmentProviderHistory(AppointmentId, ProviderId, Action, PerformedByUserId, Notes)
    SELECT @AppointmentId, ProviderId, 'Reassigned', @PerformedBy, COALESCE(@Notes, 'Status update to ' + @NewStatus)
    FROM dbo.Appointments WHERE AppointmentId = @AppointmentId;
END
GO
USE [master]
GO
